.header {
    height: 30%;
    background-image: url('/home/gitahievans/Desktop/Development/FrontEndMentor/projects/ToDo/todo-application/public/images/bg-mobile-dark.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.header h1{
    position: absolute;
    top: 17%;
    left: 5%;
    color: white;
    letter-spacing: .5em;
}